<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Nguyễn A</string>
		<key>age</key>
		<string>20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nguyễn B</string>
		<key>age</key>
		<string>21</string>
	</dict>
    <dict>
        <key>name</key>
        <string>Nguyễn C</string>
        <key>age</key>
        <string>21</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nguyễn D</string>
        <key>age</key>
        <string>21</string>
    </dict>	<dict/>
    <dict>
        <key>name</key>
        <string>Nguyễn E</string>
        <key>age</key>
        <string>21</string>
    </dict>	<dict/>
    <dict>
        <key>name</key>
        <string>Nguyễn F</string>
        <key>age</key>
        <string>21</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nguyễn G</string>
        <key>age</key>
        <string>21</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nguyễn H</string>
        <key>age</key>
        <string>21</string>
    </dict>
    <dict>
        <key>name</key>
        <string>Nguyễn J</string>
        <key>age</key>
        <string>21</string>
    </dict>
</array>
</plist>
